body{
    background-color:#FFFFFF ;
    color:#434455;
    font-family:"Roboto",sans-serif;
}
.header-logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5 ;

}
.std {
    color: #2e2f42;
    
}

.header-li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-li:hover{
    color: #404bbf;
}
.header-li:focus {
    color: #404bbf;
}


.address{
    font-style: normal;
}
.address-li{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;

}
.address-li:hover{
    color: #404bbf;
}
.address-li:focus{
    color: #404bbf;
}
.main-first{
    background-color: #2e2f42;

}
.ilk-baslik{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.main-first-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.main-first-button:hover{
    background-color: #404BBF;
}
.main-first-button:focus{
  background-color: #404BBF;
}
.main-second{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.main-s-paragraf{
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.main-third{
    background-color: #F4F4FD
}
.main-third-h{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
   
}
.main-third-li{
    background-color: #FFFFFF;

}
.img-li{
    background-color: #FFFFFF;
    
}
.footer-p{
  line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD
}
.footer-span{
    color: #f4f4fd;
}
.footer{
    background-color: #2e2f42;
}
.header-container{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0.15px;

}
.header{
    border-bottom: 1px solid #e7e9fc;
    padding: 0.15px;
}